@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

        *{
    
            padding: 0;
            margin: 0;
            overflow: scroll; /*para tirar a barra de arrastar*/
            scrollbar-width: none; /*para tirar a barra de arrastar (para navegadores como Firefox) */
        }
        body{
            display: flex;
            padding: 0;
            margin: 0;
        }
        .top{
            
            background-color: #e60101;
            padding-left: 62px;
            
        }
        .top h2{
            font-family: 'Inter';
            color: #ffffff;
            font-size: 72px;
            padding-top: 206px  ;
            font-weight: 600px;
        }
        .top p{
            display: flex;
            font-family: 'Inter';
            padding-top:30px;
            padding-bottom: 177px;
            color: #FFFFFF;
            font-size: 30px;
        }



        
        
       .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 62px;
        gap: 40px;
}

.text-content {
    
    max-width: 50%;
    font-family: 'Inter';
    padding-bottom: 50px;
}
.text-content p{
    padding-top: 27px;
}

.content img {
    height: 605px;
}

.mid {
    display: flex;
    justify-content: space-around;
    background-color: #F9F9F9;
    padding: 60px 62px;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.mid div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os textos à esquerda */
    min-width: 200px; /* Para manter largura parecida entre os blocos */
}

.mid h4 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.mid p {
    font-size: 16px;
    margin-top: 8px;
}
.contato {
    width: 100vw;
    background-color: #e60101;
    color: #ffffff;
    text-align: center;
    padding: 60px 20px;
    font-family: 'Inter', sans-serif;
}

.contato h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

.contato input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    text-decoration: none    ;
}

.contato button {
    background-color: #C07212;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
